@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:ital,wght@1,400;1,800&family=Quicksand:wght@600&family=Source+Sans+Pro:wght@300&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Source Sans Pro', sans-serif; 
 */

/* root styling */
body {
    font-family: 'Source Sans Pro', sans-serif; 
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

* > * {
    box-sizing: border-box;
}
/* global styling */

/* section styling */